.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .centered-div {
    /* position: absolute; */
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right:30% ;
    left:30% ;
    margin: 12px;
    border-radius: 4px;
    }
    .control-panel {
      box-shadow: 0 0 4px rgba(0,0,0,.15);
      cursor: auto;
      font-size: 14px;
      line-height: 18px;
      margin: 24px;
      outline: 0;
      padding: 12px 24px;
      position: absolute;
      right: 0;
      top: 0;
      width: 284px;
  }
  .control-panel .input {
    display: flex;
    position: relative;
    width: 100%;
}
.control-panel p {
  margin-bottom: 16px;
}
  .control-panel, .control-panel .input input:disabled {
    background: #fff;
}